.Berge4{ background:url("Berge4.png") top left no-repeat; }
.frontBerge4_r7_c7page{ width:348px; height:274px; background-position:-10px -10px; }
.frontBerge4_r7_c7page:hover{ width:348px; height:274px; background-position:-10px -294px; }
.frontBerge4_r7_c7page:active{ width:348px; height:274px; background-position:-10px -578px; }
.frontBerge4_r2_c5page{ width:216px; height:272px; background-position:-10px -862px; }
.frontBerge4_r2_c5page:hover{ width:216px; height:272px; background-position:-10px -1144px; }
.frontBerge4_r2_c5page:active{ width:216px; height:272px; background-position:-10px -1426px; }
.frontBerge4_r2_c3page{ width:165px; height:270px; background-position:-10px -1708px; }
.frontBerge4_r2_c3page:hover{ width:165px; height:270px; background-position:-10px -1988px; }
.frontBerge4_r2_c3page:active{ width:165px; height:270px; background-position:-10px -2268px; }
.frontBerge4_r10_c2page{ width:388px; height:185px; background-position:-10px -2548px; }
.frontBerge4_r10_c2page:hover{ width:388px; height:185px; background-position:-10px -2743px; }
.frontBerge4_r10_c2page:active{ width:388px; height:185px; background-position:-10px -2938px; }
.frontBerge4_r4_c7page{ width:170px; height:179px; background-position:-185px -1708px; }
.frontBerge4_r4_c7page:hover{ width:170px; height:179px; background-position:-185px -1897px; }
.frontBerge4_r4_c7page:active{ width:170px; height:179px; background-position:-185px -2086px; }
.frontBerge4_r3_c9page{ width:172px; height:178px; background-position:-10px -3133px; }
.frontBerge4_r3_c9page:hover{ width:172px; height:178px; background-position:-10px -3321px; }
.frontBerge4_r3_c9page:active{ width:172px; height:178px; background-position:-10px -3509px; }
